page-messages {
   ion-header {
     background:linear-gradient(to right, #36d1dc, #5b87e5);
   }

   .toolbar-title-md{
       text-align: center;
       position: relative;
       left: 2rem;
   }
}
